<div class="flex items-center justify-center mt-30">
    <div class="w-full max-w-4xl p-6 text-center">
        <h1 class="text-3xl sm:text-5xl font-bold mb-6 text-[#383936]"><%= titlecollezioni %></h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
            <a href="" class="p-3 bg-[#383936] text-white rounded-full hover:bg-gray-800 font-bold text-sm sm:text-base"><%= button1 %></a>
            <a href="" class="p-3 bg-[#383936] text-white rounded-full hover:bg-gray-800 font-bold text-sm sm:text-base"><%= button2 %></a>
            <a href="" class="p-3 bg-[#383936] text-white rounded-full hover:bg-gray-800 font-bold text-sm sm:text-base"><%= button3 %></a>
            <a href="" class="p-3 bg-[#383936] text-white rounded-full hover:bg-gray-800 font-bold text-sm sm:text-base"><%= button4 %></a>
            <a href="" class="p-3 bg-[#383936] text-white rounded-full hover:bg-gray-800 font-bold text-sm sm:text-base"><%= button5 %></a>
        </div>
    </div>
</div>
