
<div class="bg-black text-white p-4">
    <h1 class="text-center text-2xl mb-4 font-bold mt-4"><%= titleminiature %></h1>
    <div class="flex justify-center gap-5 w-11/12 mx-auto mb-5 items-center">
        <div class="text-center hidden md:block">
            <img src=<%= miniatureimage1 %> alt="Trainer" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext1 %></p>
        </div>
        <div class="text-center hidden md:block">
            <img src=<%= miniatureimage2 %> alt="B.560" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext2 %></p>
        </div>
        <div class="text-center hidden md:block">
            <img src=<%= miniatureimage3 %> alt="B.Elite" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext3 %></p>
        </div>
        <div class="text-center">
            <img src=<%= miniatureimage4 %> alt="Game" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext4 %></p>
        </div>
        <div class="text-center">
            <img src=<%= miniatureimage5 %> alt="Tokyo" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext5 %></p>
        </div>
        <div class="text-center">
            <img src=<%= miniatureimage6 %> alt="Mythos Propulsion" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext6 %></p>
        </div>
        <div class="text-center">
            <img src=<%= miniatureimage7 %> alt="Cross" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext7 %></p>
        </div>
        <div class="text-center hidden md:block">
            <img src=<%= miniatureimage8 %> alt="Equipe" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext8 %></p>
        </div>
        <div class="text-center hidden md:block">
            <img src=<%= miniatureimage9 %> alt="Camaro" class="mx-auto">
            <p class="mt-2 font-semibold"><%= miniaturetext9 %></p>
        </div>
    </div>
</div>


 